@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.main
{
    width: 100vw;
    height: 100vh;
    background-image: url("/images/img6.jpg");
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.overlay
{
    width: 100vw;
    height: 100vh;
    background:rgba(0,0,0,0.5);
    color: white;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.content 
{
    font-size: 1.5rem;
    font-family: 'Aboreto', cursive;
    width: 100vw;
    padding: 4rem;
    background: rgba(255,0,0,0.5);
    clip-path: polygon(0 0, 0 130%, 100% 0);
}
.content h1
{
    position: relative;
    padding-bottom: 0.5rem;
}
.content h1::after
{
    position: absolute;
    content: "";
    width: 20%;
    height: 3px;
    background-color: white;
    left:0;
    bottom: 0;
}
.content h3
{
    padding-top: 0.5rem;
    
}
.countDown-timer
{
    width: 50vw;
    margin: 1rem auto;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.countDown-timer h1
{
    padding-bottom:2rem;
    font-size: 1.3cm;
}
.timer
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}
/* ------------hidden section------------ */
.content-container
{
    width: 100vw;
    height: 100vh;
    background-color: black;
    position: absolute;
}
.hide-content
{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url("/images/img8.jpg")center center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
    border: none;
    outline: none;
}
.hide-content #new-year , span
{
  font-size: 3cm;
}

/* --section 1---------- /hidden section------------ */


/* --section 2---------- hidden section------------ */
.date
{
    position: absolute;
    top: 15%;
    right: 0;
    width: 100vw;
    height: auto;
    display: flex;
    justify-content: end;
    align-items: center;
    padding-right: 1.5rem;
}
.date #CurrentDate 
{
    font-size: 3rem;
    color: rgba(255,255,255,0.3);
}
/* --section 2---------- /hidden section------------ */

input
{
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    color: white;
    width: 70%;
    padding: 1rem 1.5rem;
    border-radius: 10px;
    border: none;
    outline: none;
    background:rgba(0,0,0,0.7);
}
.time h3
{
    padding: 1rem;
    font-size: 2rem;
    font-weight: lighter;
}

/* Responsiveness Degign */
@media screen and (max-width:320px)
{
    .content
    {
        clip-path: polygon(50% 0%, 100% 0, 76% 90%, 24% 90%, 0 0);
        font-size: 0.7rem;
        padding: 1rem;
        text-align: center;
    }
    .content h1
    {
        font-size: 1rem;
    }
    .content h1::after
    {
    width: 50%;
    height: 1px;
    left:25%;
    }
    .date
    {
      /* text-align: right;
      z-index: 1; */
      display: none;
    }
    .countDown-timer
    {
        width: 100vw;
        height: 50vh;
        position: absolute;
        bottom: 20%;
        z-index: 2;
    }
    .timer
    {
        width: 100vw;
        flex-direction: column;
    }
    .timer input
    {
        font-size: 1rem;
        width: 50%;
        padding: 0.8rem 0.2rem;
    }
    .timer h3
    {
        font-size: 1rem;
        font-weight: bold;
        padding: 0.4rem;
    }
    .countDown-timer h1
    {
        text-align: center;
        font-size: 0.5rem;
        width: 90%;
        word-wrap: break-word;
        padding-bottom: 1rem;
    }

}
/* ******************************** */
@media screen and (max-width:480px)
{
    .content
    {
        clip-path: polygon(50% 0%, 100% 0, 76% 120%, 24% 120%, 0 0);
        font-size: 0.7rem;
        padding: 1rem;
        text-align: center;
    }
    .content h1
    {
        font-size: 1rem;
    }
    .content h1::after
    {
    width: 50%;
    height: 1px;
    left:25%;
    }
    .date
    {
      text-align: center;
      z-index: 1;
      top: 85%;
      left: -15%;
    }
    .countDown-timer
    {
        width: 100vw;
        height: 50vh;
        position: absolute;
        bottom: 20%;
        z-index: 2;
    }
    .timer
    {
        width: 100vw;
        flex-direction: column;
    }
    .timer input
    {
        font-size: 1.3rem;
        width: 50%;
        padding: 0.8rem 0.2rem;
    }
    .timer h3
    {
        font-size: 1.3rem;
        font-weight: bold;
        padding: 0.2rem;
    }
    .countDown-timer h1
    {
        text-align: center;
        font-size: 1rem;
        width: 100%;
        word-wrap: break-word;
        padding-bottom: 1rem;
    }

}
@media screen and (max-width:720px)
{
    .content
    {
        clip-path: polygon(50% 0%, 100% 0, 76% 120%, 24% 120%, 0 0);
        font-size: 0.7rem;
        padding: 1rem;
        text-align: center;
    }
    .content h1
    {
        font-size: 1rem;
    }
    .content h1::after
    {
    width: 50%;
    height: 1px;
    left:25%;
    }
     .date
    {
      text-align: center;
      z-index: 1;
      top: 85%;
      left: -7%;
    }
    .countDown-timer
    {
        width: 100vw;
        height: 50vh;
        position: absolute;
        bottom: 20%;
        z-index: 2;
    }
    .timer
    {
        width: 100vw;
        flex-direction: column;
    }
    .timer input
    {
        font-size: 1.3rem;
        width: 50%;
        padding: 0.8rem 0.2rem;
    }
    .timer h3
    {
        font-size: 1.3rem;
        font-weight: bold;
        padding: 0.2rem;
    }
    .countDown-timer h1
    {
        text-align: center;
        font-size: 2rem;
        width: 100%;
        word-wrap: break-word;
        padding-bottom: 1rem;
    }

}
/* **************************************************** */

/* /Responsiveness Degign */
